body {
    background-color: #0a0a0a;
    color: #00ffff;
    font-family: Consolas, monospace;
}

.container {
    width: 85%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    color: #00ffff;
}

textarea {
    width: 100%;
    height: 280px;
    background-color: #111;
    color: #00ffcc;
    border: 1px solid #00ffff;
    padding: 12px;
    font-size: 14px;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: black;
    color: #00ffff;
    border: 1px solid #00ffff;
    cursor: pointer;
}

button:hover {
    background-color: #002222;
}

.download {
    color: #00ff66;
    border: 1px solid #00ff66;
}

pre {
    background-color: black;
    margin-top: 15px;
    padding: 15px;
    min-height: 200px;
    border: 1px solid #00ffff;
    overflow-y: auto;
}

.note {
    margin-top: 15px;
    color: gray;
    font-size: 12px;
}
