body {
    background-color: #0f0f0f;
    color: #00ffff;
    font-family: Consolas, monospace;
}

.container {
    width: 80%;
    margin: 40px auto;
}

textarea {
    width: 100%;
    height: 250px;
    background-color: #111;
    color: #00ffcc;
    border: 1px solid #00ffff;
    padding: 10px;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: black;
    color: #00ffff;
    border: 1px solid #00ffff;
    cursor: pointer;
}

button:hover {
    background-color: #002222;
}

pre {
    background-color: black;
    margin-top: 15px;
    padding: 10px;
    min-height: 150px;
    border: 1px solid #00ffff;
}
.note {
    margin-top: 15px;
    color: gray;
  }
